.category-list {
  margin-bottom: 20px;
}


.add-button {
  cursor: pointer;
}

.root-category {
  margin-bottom: 4px;
  font-size: 30px;
  a {
    text-decoration: none !important;
    color: black;
    &:hover {
      cursor: pointer;
      color: gray;
    }
  }

}


.child-category {
  margin-left: 5px;
  margin-bottom: 3px;
  font-size: 20px;
  align-items: center;
  a {
    text-decoration: none !important;
    color: black;
    &:hover {
      cursor: pointer;
      color: gray;
    }
  }

}


.action-icon {
  font-size: 20px;
  line-height: 20px;
}
